header {
    background: #14518e;
    border-bottom: 1px solid #c59650;
}

body {
    background-color: #bbc8d8;
    color: #303030;
}

footer {
    background: #14518e;
    border-top: 1px solid #c59650;
}

#detail,
#title,
#member,
#info,
#buttonArea,
[id^=another] {
    border: 1px solid #c59650;
    padding: 10px;
    background-color: #eaeff3;
}

#projectTitle {
    min-height: 60px;
}

#buttonArea {
    height: 150px;
    width: 150px;
    position: fixed;
    right: 10px;
    bottom: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

#apply {
    --bs-btn-padding-y: .20rem;
    --bs-btn-padding-x: .20rem;
    height: 50px;
    width: 90px;
    font-size: 24px;
}

#info p {
    font-size: 20px;
    font-weight: bold;
}

#info {
    width: 64.5%;
}

#member m {
    font-size: 23px;
    font-weight: bold;
}

#member {
    width: 35%;
    font-weight: bold;
    max-height: 500px;

}

#imgBorder {
    border: 1.5px solid black;
    max-width: 300px;
    max-height: 300px;
}

#name {
    font-size: 24px;
    text-decoration: none;
    color: #303030;
}
#introduce{
    border: 1.5px solid #c59650;
    max-height: 100px;
}

a[class="d-inline col-md-3"]{
    color: #303030;
    text-decoration: none;

}
#mail {
    font-size: 24px;
}

#anotherTitle{
    font-size: 20px;
    font-weight: bold;
}
#another>p{
    font-size: 20px;
    font-weight: bold;
}
