<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" th:href="@{/css/register.css}">
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>
    <script src="../_js/jquery-3.6.0.js"></script>
</head>

<body>
    <nav class="fixed-top"><!-- 導覽列 -->
        <ul>
            <img th:src="@{/img/logowhite.png}" alt="Logo">
                
            <li><a href="">會員登入</a></li>
            <li><a href="">個人頁面</a></li>
            <li><a href="">搜尋</a></li>
            <li><a href="">首頁</a></li>
        </ul>
    </nav>



<!-- 會員註冊窗口 -->
<div style="width: 80%;margin: 10%;"> 
    <div id="register" class="m-5" style="top: 100px;">
        <form class="row justify-content-md-center" th:action="@{/reg_submit}" th:object="${member}" method="post" enctype="multipart/form-data">
            <div class="col-sm-12">
                <h3>註冊帳號</h3><hr>
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <!-- 帳號： -->
                        <input type="text" id="account" placeholder="使用者帳號" required th:field="*{account}"><br>  
                        <!-- 暱稱： -->
                        <input type="text" id="username" placeholder="暱稱" required th:field="*{name}"><br>  
                        <!-- 手機號碼： -->
                        <input type="tel" id="tel" placeholder="手機" required th:field="*{tel}"><br>
                        <!-- E-mail： -->
                        <input type="email" id="email" placeholder="電子信箱" required th:field="*{email}"><br>
                    </div>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <!-- 出生日期： -->
                        <input type="date" id="birthday" placeholder="出生日期" required th:field="*{birthday}"><br>
                        <!-- 輸入密碼： -->
                        <input type="password" id="password" placeholder="密碼" required th:field="*{password}"><br>
                        <!-- 確認密碼： -->
                        <input type="password" id="checkpasswd" placeholder="確認密碼" required>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                    <br>
                    <br>
            </div>
            <div class="col-sm-4">
                <h3>前端</h3><hr>
                <label th:each="option : ${options}" th:for="${option.tagname}" th:if="${option.category} == 'Front'">
                    <input type="checkbox" th:id="${option.tagname}" name="selected" th:value="${option.tagid}">
                    <span th:text="${option.tagname}">Java</span>
                </label>
                
                <br>
                <br>
            </div>
            <div class="col-sm-4">
                <h3>後端</h3><hr>
               <label th:each="option : ${options}" th:for="${option.tagname}" th:if="${option.category} == 'Back'">
                    <input type="checkbox" th:id="${option.tagname}" name="selected" th:value="${option.tagid}">
                    <span th:text="${option.tagname}">Java</span>
                </label>
                
                <br>
                <br>
            </div>
            <div class="col-sm-4">
                <h3>資料庫</h3><hr>
               <label th:each="option : ${options}" th:for="${option.tagname}" th:if="${option.category} == 'Database'">
                    <input type="checkbox" th:id="${option.tagname}" name="selected" th:value="${option.tagid}">
                    <span th:text="${option.tagname}">Java</span>
                </label>
                
                <br>
                <br>
            </div>
            
            <div id="next">
                <a href="/login"><input type="submit" value="下一步" class="submit" onclick="checkResult()"></a>
            </div>
        </form>
    </div>
</div>


    <footer>
        <div id="foodiv1" class="container">
            <div class="row">
                <div id="foodiv2" class="col-sm-6">
                    div2
                </div>
                <div id="foodiv3" class="col-sm-6">
                    div3
                </div>
            </div>
            div
        </div>
    </footer>

    <script src="../register/register.js"></script>
</body>

</html>