header {
    background: #14518e;
    border-bottom: 1px solid #c59650;
}

body {
    background-color: #bbc8d8;
    color: #303030;
}

footer {
    background: #14518e;
    border-top: 1px solid #c59650;
}

#thumbnail,
#input,
#needEtc,
[id^=another] {
    border: 1px solid #c59650;
    padding: 10px;
    background-color: #eaeff3;
    font-size: 18px;

}

#simpleInfo {
    width: 90%;
    height: 90px;
}

input {
    padding: 5px;
    margin: 2px;
}

#casutamu{
    width: 100px;
}

#people {
    width: 60px;
}

#editor{
    height: 500px;
    overflow: auto;
}

.ql-editor img {
    max-width: 900px; /* 設置圖片的最大寬度 */
    height: auto;   /* 高度自動調整 */
}

#insert {
    background-color: #eaeff3;
    font-size: 30px;
    font-weight: bold;
    border: 1px solid #c59650;
}

#preview {
    display: inline-block;
    height: 100px;
}

#thumbnail>div {
    min-height: 260px;
}

.col-8>div {
    margin: 5px;
}